# Build
build/
build_win/
cmake-build-*/
out/
bin/
Debug/
Release/
x64/

# Compiled files
*.o
*.obj
*.exe
*.out
*.dll
*.lib
*.pdb
*.ilk

# macOS
.DS_Store

# CLion / JetBrains
.idea/

# Visual Studio
.vs/
*.VC.db
*.VC.opendb
*.vsidx

# Local libraries / package managers
SFML-*/
vcpkg/